h1{
    color:black;
    font-family: 'Play', bold;
    font-weight: 700;
    font-size: 72;
    text-align: center;
    text-decoration: underline;
}
h2{
    color:black;
    font-family: 'Play', serif;
    font-weight: 400;
    font-size: 60;
    text-align:left;
    text-decoration: underline;
}
h3{
    color:#ffffff;
    font-family: 'Play', serif;
    font-weight: 400;
    font-size: 48;
    text-align: left;
    text-decoration: underline;
}
.derechos{
    font-family: 'DM Sans', bold;
    font-weight: 700;
    font-size: 48;
    font-style: italic;
    color: rgb(0, 0, 0);
    text-align: center;
}
p{
    color:rgb(207, 43, 78);
    font-family:'DM Sans', serif;
    font-weight: 400;
    font-size: 48;
    text-align: justify;
    line-height: 1.5;
}
ul li{
    color:rgb(244, 227, 7);
    font-family:'DM Sans', serif;
    font-weight: 400;
    font-size: 32;
    line-height: 1.5;
}
ol li{
    color:rgb(244, 227, 7);
    font-family:'DM Sans', serif;
    font-weight: 400;
    font-size: 32;
    list-style-type: upper-roman;
    line-height: 1.5;
}
img{
    position: center;
    align-content: space-between;
    flex: content;
}
header{
    background-color: rgb(207, 43, 78);
    text-align: center;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: auto;
    padding: 15px 0px 15px;
    height: auto;
    margin: 0px 0px 50px 0px;
}
body{
        background-color:rgb(56, 182, 255);
        width: auto;
        height: auto;
}
footer{
    background-color: rgb(255, 218, 42);
    width: auto;
    padding: 15px 0px 15px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    height: auto;
    margin: 50px 0px 0px 0px;
}
.vc{
    text-align: center;
}
.vue{
    content: center;
    rotate: 180deg;
}

.ref{
    Color: #0d2c54;
    font-family: 'Play', bold;
    font-weight: 400;
    font-size: 32;
}
.container{
    width: 75vw;
    max-width: 1200px;
    min-width: 375px;
    margin: auto;
}

.box{
	position: relative;
	width: 350px;
    height: 550px;
	background: #FFFFFF;
	border-radius: 8px;
    overflow: hidden;
    margin: auto;
}
.box::before{
	content:'';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 350px;
    height: 550px;
	background: linear-gradient(0deg, transparent,
    transparent,rgb(244, 227, 7),rgb(244, 227, 7),rgb(244, 227, 7));
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
}
.box::after{
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 350px;
    height: 550px;
	background: linear-gradient(0deg, transparent,
    transparent,rgb(244, 227, 7),rgb(244, 227, 7),rgb(244, 227, 7));
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -3s;
}
.borderLine{
	position: absolute;
	top: 0;
	inset: 0;
}
.borderLine::before{
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 350px;
    height: 550px;
	background: linear-gradient(0deg, transparent,
    transparent,rgb(207, 43, 78), rgb(207, 43, 78), rgb(207, 43, 78));
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -1.5s;
}
.borderLine::after{
	content: '';
	position: absolute;
	top: -50%;
	left: -50%;
	width: 350px;
    height: 550px;
	background: linear-gradient(0deg,transparent,
    transparent, rgb(207, 43, 78),rgb(207, 43, 78), rgb(207, 43, 78));
	z-index: 1;
	transform-origin: bottom right;
	animation: animate 6s linear infinite;
	animation-delay: -4.5s;
}
@keyframes animate{
	0%
	{
	transform: rotate(0deg);
	}
	100%
	{
	transform: rotate(360deg);
	}
}
.form-box{
    position: relative;
    width: 335px;
    height: 535px;
    inset: 6px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.inputbox{
    position: relative;
    margin: 30px 0;
    width: 310px;
    border-bottom: 2px solid black;
}
.inputbox label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: black;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}
input:focus ~ label,
input:valid ~ label{
top: -5px;
}
.inputbox input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    padding: 0 35px 0 5px;
    color: black;
    font-family: 'Play', serif;
    align-items: center;
}
.inputbox ion-icon{
    position: absolute;
    right: 8px;
    color: black;
    font-size: 1.5em;
    top: 20px;
}
button{
    width: 40%;
    height: 40px;
    border-radius: 40px;
    background: rgb(56, 182, 255);
    border: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;;
}
a:link {
    color: black;
    font-size: 16px;
    font-weight: 400;
}
a:visited {
    color: black;
    text-decoration: underline;
}
a:hover {
    color: rgb(1, 255, 47);
    text-decoration: underline;
}
a:active {
    color: rgb(255, 0, 251);
    text-decoration: underline;
}
  
.dropdown {
    display: inline-block;
    position: absolute;
}
.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
 }
.dropdown:hover .dropdown-content {
    display:block;
}
.dropdown-content a {
    display:block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}
.dropdown-content a:hover {
    color: #FFFFFF;
    background-color: rgb(56, 182, 255);
}  
.loaderizq{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 2.4s
    linear infinite;
    margin: auto;
}
.loaderizq::before,
.loaderizq::after{
    content: "";
    position: absolute;
    border-radius: inherit;
}
.loaderizq::before{
    width: 100%;
    height: 100%;
    background-image:
    linear-gradient(0deg,
    rgb(207, 43, 78) 0%,
    rgb(56, 182, 255) 100%
    );
}
.loaderizq::after{
    width: 85%;
    height: 85%;
    background-color: rgb(244, 227, 7);
    background-image: repeating-linear-gradient(45deg, rgb(244, 227, 7), rgb(0, 0, 0) 10px, transparent 10px, transparent 10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}
.circulos{
    display: flex;
}
.loaderder{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: spin 2.4s
    linear infinite;
    margin: auto;
}
.loaderder::before,
.loaderder::after{
    content: "";
    position: absolute;
    border-radius: inherit;
}
.loaderder::before{
    width: 100%;
    height: 100%;
    background-image:
    linear-gradient(0deg,
    rgb(207, 43, 78) 0%,
    rgb(56, 182, 255) 100%
    );
}
.loaderder::after{
    width: 85%;
    height: 85%;
    background-color: rgb(244, 227, 7);
    background-image: repeating-linear-gradient(45deg, rgb(244, 227, 7), rgb(0, 0, 0) 10px, transparent 10px, transparent 10px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@keyframes spin{
    to{
        transform: rotate(360deg);
    }
}
hr{
    height: 20px;
    background-color: rgb(244, 227, 7);
    background-image: repeating-linear-gradient(45deg, rgb(207, 43, 78), rgba(56, 182, 255) 10px, transparent 10px, transparent 20px);
}
.hr1{
    height: 20px;
    background-color: rgb(244, 227, 7);
    background-image: repeating-linear-gradient(-45deg, rgb(207, 43, 78), rgba(56, 182, 255) 10px, transparent 10px, transparent 20px);
}
.hr2{
    height: 20px;
    background-color: rgba(0, 0, 0);
    background-image: repeating-linear-gradient(-45deg, rgb(207, 43, 78), rgb(244, 227, 7) 10px, transparent 10px, transparent 20px);
}
.hr3{
    height: 20px;
    background-color: rgba(0, 0, 0);
    background-image: repeating-linear-gradient(45deg, rgb(207, 43, 78), rgb(244, 227, 7) 10px, transparent 10px, transparent 20px);
}
.links{
    display: flex;
}
.insta{
    margin: auto;
}
.face{
    margin: auto;
}
.tube{
    margin: auto;
}
.twitter{
    margin: auto;
}
.mn{
    width: 40px;
    height: 40px;
    border-radius: 20%;
    background: rgb(56, 182, 255);
    border: #000000;
    cursor: pointer;
    font-size: 1em;
    font-weight: 100;
    margin: 8px 8px 8px 8px;
}
.slide {
    position: relative;
    box-shadow: 0px 1px 5px rgb(1, 255, 47);
    margin-top: auto;
}
.slide-inner {
    position: relative;
    overflow: hidden;
    width: auto;
    height: auto;
}
.slide-open:checked + .slide-item {
    position: static;
    opacity: 100;
}
.slide-item {
    position: absolute;
    opacity: 0;
    -webkit-transition: opacity 0.6s ease-out;
    transition: opacity 0.6s ease-out;
}
.slide-item img {
    display: flex;
    width: 100%;
    height: 100%;
    margin: auto;
}
.slide-control {
    background: rgb(1, 255, 47);
    border-radius: 50%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
    font-size: 40px;
    height: 40px;
    line-height: 35px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    cursor: pointer;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center;
    width: 40px;
    z-index: 10;
}
.slide-control.prev {
    left: 2%;
    top: 50%;
}
.slide-control.next {
    right: 2%;
    top: 50%;
}
.slide-control:hover {
    background: rgb(1, 255, 47);
    color: rgb(255, 0, 251);
}
#slide-1:checked ~ .control-1,
#slide-2:checked ~ .control-2,
#slide-3:checked ~ .control-3,
#slide-4:checked ~ .control-4,
#slide-5:checked ~ .control-5 {
    display: block;
}
.slide-indicador {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 2%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
}
.slide-indicador li {
    display: inline-block;
    margin: 0 5px;
}
.slide-circulo {
    color: rgb(255, 0, 251);
    cursor: pointer;
    display: block;
    font-size: 35px;
}
.slide-circulo:hover {
    color: rgb(1, 255, 47);
}
#slide-1:checked ~ .control-1 ~ .slide-indicador 
     li:nth-child(1) .slide-circulo,
#slide-2:checked ~ .control-2 ~ .slide-indicador 
      li:nth-child(2) .slide-circulo,
#slide-3:checked ~ .control-3 ~ .slide-indicador 
      li:nth-child(3) .slide-circulo,
#slide-4:checked ~ .control-4 ~ .slide-indicador 
      li:nth-child(4) .slide-circulo,
#slide-5:checked ~ .control-5 ~ .slide-indicador 
      li:nth-child(5) .slide-circulo {
    color: rgb(244, 227, 7);
}
/*font-family: 'DM Sans', sans-serif;
font-family: 'Play', sans-serif;*/